$primary-color: #333;
$background-color: #f4f4f4;

:root {
  font-family: Inter, "Helvetica", "Helvetica Neue", "Arial", "Verdana", sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'ss07' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  font-weight: normal;
  font-style: normal;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 1.5em;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 110%;
    max-width: 62em;
  }
}

::selection {
  color: white;
  background-color: black;
}

a {
  color: #750014;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-underline-offset: 5px;
  text-decoration-style: solid;
  text-decoration: underline;
  text-decoration-color: rgb(255, 20, 35);
}

p {
  margin: 1em 0;
  line-height: 1.5;
}

// Inline codes
code {
  background-color: $background-color !important;
  font-family: "Jetbrains Mono", "Menlo", "Consolas", monospace;
  font-size: 97%;
}

p code {
  background-color: #eee;
  padding: 0.05em 0.2em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

li > code {
  padding: 0.05em 0.2em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

// // Code blocks
// pre[class^="language-"] {
//   background-color: $background-color !important;
//   border: 1px solid #ccc;
//   white-space: pre;
//   white-space: pre-wrap;
//   word-wrap: break-word;
//   border-radius: 5px;
// }

// Table
pre {
  color: rgb(40, 40, 40) !important;
  background-color: $background-color !important;
  border: 1px solid #ccc;
  border-radius: 5px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1rem;
  overflow: auto;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
  padding: 1rem 0;
}

pre table td {
  padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}

pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-spacing: 0;
  border: 1px solid #ccc;
}

thead {
  background-color: #f4f4f4;
}

th,
td {
  line-height: 2;
  text-align: center;
  border: 1px solid #ccc;
  padding: 1px 10px;;
}

ol, ul {
  margin: 1em;
}

ol li ol, ol li ul, ul li ol, ul li ul {
  margin: 0 2em;
}

ol li p, ul li p {
  margin: 0;
}

dl {
  font-family: "Jetbrains Mono", monospace;
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin: -1em 0 1em 1em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
}

blockquote {
  margin-left: 1px;
  padding-left: 1em;
  font-style: italic;
  border-left: solid 5px rgb(255, 20, 35);
}

.title {
  font-size: 2.5em;
}

.subtitle {
  font-weight: normal;
  font-size: 0.75em;
  color: #666;
}

.tags {
  margin-top: -1.5rem;
  padding-bottom: 1.5em;
}

.tags li {
  display: inline;
  margin-right: 0.5em;
}

figure {
  margin: 1em 0;
}

figure figcaption {
  font-size: 0.75em;
  text-align: center;
  color: grey;
}

.footnote-definition sup {
  margin-left: -1.5em;
  float: left;
}

.footnote-definition .footnote-body {
  margin: 1em 0;
  padding: 0 1em;
  border: 1px dashed rgba(250, 100, 50, 0.3);
  background-color: rgba(200, 200, 200, 0.2);
}

.footnote-definition .footnote-body p:only-child {
  margin: 0.2em 0;
}

ul.articles {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.articles li {
  padding-bottom: 10px;
}

ul.articles li a {
  color: black;
}

ul.articles li a:hover {
  color: black !important;
}


footer {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

// Sticky header
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  flex-grow: 1;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

.date {
  font-size: 13px;
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #750014;
  font-weight: 800;
  line-height: 1em;
  font-optical-sizing: auto;
  font-style: normal;
}

h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 3em;
  line-height: 1.2em;
  margin: 0;
}

h2 {
  margin: 2em 0 1em;
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 1em 0 1em;
}

h4 {
  font-size: 0.9em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.9em;
}

.katex {
  font-size: 100% !important;
}

.about {
  margin: 0px 0px 16px;
  font-weight: 600;
  font-size: 20px;
}

#about_back {
  text-decoration: underline;
  text-underline-offset: 5px;
}

#copyright {
  color: #444;
}

#home {
  color: black;
  padding: 0.2em;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.socials-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.socials {
  display: flex;
  min-width: 40%;
}

.socials-items-center {
  align-items: center
}

.socials-justify-between {
  justify-content: space-between
}

.socials > a {
  color: black;
  padding: 20px;
}
