:root {
  font-family: Inter, "Helvetica", "Helvetica Neue", "Arial", "Verdana", sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'ss07' 1; /* fix for Chrome */
  background-color: #f2f3e8;
  color: #555;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }

::selection {
  background-color: #0a101a;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  height: 100%;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 1.5em;
}

body {
  height: 100%;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 110%;
    max-width: 62em;
  }
}

a {
  color: #000000;
  text-decoration: underline solid;
  font-style: bold;
  text-underline-offset: 3px;
}

p {
  margin: 1em 0;
  line-height: 1.5;
}

code {
  font-family: "Jetbrains Mono", "Menlo", "Consolas", monospace;
  font-family: "Menlo", "Consolas", monospace;
  font-size: 90%;
}

p code,
li > code,
li > strong > code {
  color: #c82829;
  background-color: #ecede2;
  padding: 0.05em 0.2em;
}

pre {
  background-color: #ecede2 !important;
  border-radius: 2px;
  padding: 1rem;
  overflow: auto;
  margin-bottom: 5px;

  &[data-linenos] {
    padding: 1rem 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 0;
      &:nth-of-type(1) {
        text-align: center;
        user-select: none;
      }
    }
  }

  mark {
    display: block;
    background-color: rgba(254, 252, 232, 0.9);
  }
}

table {
  margin: 0 auto;
  width: 90%;
  border-spacing: 0;
  border: 1px solid #ccc;

  thead {
    background-color: #f4f4f4;
  }

  th,
  td {
    line-height: 2;
    text-align: center;
    border: 1px solid #ccc;
    padding: 1px 10px;
  }
}

ol,
ul {
  margin: 1em;
}

ol li ol,
ol li ul,
ul li ol,
ul li ul {
  margin: 0 2em;
}

dl {
  font-family: "Jetbrains Mono", monospace;

  dt {
    font-weight: bold;
  }

  dd {
    margin: -1em 0 1em 1em;
  }
}

img {
  max-width: 100%;
  display: block;
  margin: 0;
  padding: 0.5em;
  position: relative;
  left: -10px;
}

blockquote {
  margin-left: 1px;
  padding-left: 1em;
  font-style: italic;
  color: #555;
  margin: 1.5em 0;
  border-left: 5px solid #718c00;
  font-feature-settings: 'zero' 1;

  > pre {
    border: none;
    background-color: #f2f3e8 !important;
  }
}

.title {
  margin: 0;
  font-size: 2.5em;
}

.subtitle {
  font-weight: normal;
  font-size: 0.75em;
  color: #666;
}

.tags {
  margin-top: -1.5rem;
  padding-bottom: 1.5em;

  li {
    display: inline;
    margin-right: 0.5em;
  }
}

figure {
  margin: 1em 0;

  figcaption {
    font-size: 0.75em;
    text-align: center;
    color: grey;
  }
}

.footnote-definition sup {
  margin-left: -1.5em;
  float: left;
}

.footnote-definition .footnote-body {
  margin: 1em 0;
  padding: 0 1em;
  border: 1px dashed rgba(250, 100, 50, 0.3);
  background-color: rgba(200, 200, 200, 0.2);
}

.footnote-definition .footnote-body p:only-child {
  margin: 0.2em 0;
}

ul.articles {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding-bottom: 10px;
  }
}

footer {
  display: flex;
  justify-content: center;
  font-size: 13px;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  flex-grow: 1;
}

.date {
  font-size: 80%;
  margin-top: 2px;
  margin-bottom: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: black;
  line-height: 1em;
  font-style: normal;
}

h1 {
  font-size: 3em;
  line-height: 1.2em;
  margin: 0;
}

h2 {
  margin: 2em 0 1em;
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 1em 0;
}

h4 {
  font-size: 0.9em;
}

h5,
h6 {
  font-size: 0.9em;
}

.katex {
  font-size: 100% !important;
}

.about {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 20px;
}

#about_back {
  text-decoration: underline;
  text-underline-offset: 5px;
}

#copyright {
  color: #444;
}

#home {
  color: black;
  padding: 0.2em;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.socials-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.socials {
  display: flex;
  min-width: 40%;
  flex-wrap: wrap;

  &-items-center {
    align-items: center;
  }

  &-justify-center {
    justify-content: center;
  }

  > a {
    color: black;
    padding: 20px;
  }
}

#olderposts {
  color: black;
  font-size: 90%;
  text-decoration: underline;
  text-underline-offset: 5px;
}
