<!DOCTYPE html>
<html lang="en">
<head>
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
  <link rel="shortcut icon" type="image/png" href="{{ get_url(path="favicon.png") }}"/>
  {% if page.title %}
    <title>{{ page.title }} | {{ config.title }}</title>
  {% elif section.title %}
    <title>{{ section.title }} | {{ config.title }}</title>
  {% else %}
    <title>{{ config.title }}</title>
  {% endif %}
  {% include "partials/katex.html" %}
  <nav class="menu">
    <div class="nav-left">
      <ul>
        <li>
          <a href="/"><span class="sitename" ><strong>{{ config.title }}</strong></span></a>
        </li>
      </ul>
    </div>
    <div class="nav-right">
      <ul id="links">
        <li><a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">RSS</a></li>
        <li><a href="mailto:alixbozorgzadeh@gmail.com">@</a></li>
        <li><a target="_blank" href="https://github.com/abzrg">GitHub</a></li>
        <li><a target="_blank" href="https://www.youtube.com/@abzrg">Videos</a></li>
        <li><a target="_blank" href="{{ get_url(path="docs/cv.pdf") }}">CV</a></li>
      </ul>
    </div>
  </nav>
</head>
<body>
  <div class="wrapper">
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
  <footer>
    <p>Copyright &copy; 2024 Ali Bozorgzadeh</p>
  </footer>
  </div>
</body>
</html>
