<!DOCTYPE html>
<html lang="en">
<head>
  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
  <link rel="shortcut icon" type="image/png" href="{{ get_url(path="favicon.png") }}"/>
  {% if page.title %}
    <title>{{ page.title }} | {{ config.title }}</title>
  {% elif section.title %}
    <title>{{ section.title }} | {{ config.title }}</title>
  {% else %}
    <title>{{ config.title }}</title>
  {% endif %}
  {% include "partials/katex.html" %}
</head>
<body>
  <div class="wrapper">
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
  <footer>
    <p id="copyright">Copyright &copy; 2024<a href="/" id="home">Ali Bozorgzadeh</a></p>
  </footer>
  </div>
</body>
</html>
